<p>list-contactos works!</p>

<span *ngIf="listadoContactos.length == 0">
    No existen contactos
</span>

<ul>
    <!-- <li *ngFor="let contacto of listadoContactos">
        <a (click)="editar(contacto)">{{contacto.uid}} |{{contacto.cedula}} | {{contacto.nombre}} | {{contacto.direccion}}</a>
        <button (click)="eliminar(contacto)">Eliminar</button>
    </li>-->
    <li *ngFor="let contacto of listadoContactosFire | async">
        <a (click)="editar(contacto)">{{contacto.uid}} |{{contacto.cedula}} | {{contacto.nombre}} | {{contacto.direccion}}</a>
        <button (click)="eliminar(contacto)">Eliminar</button>
    </li>
</ul>