div#contenedor{
    display: flex;
}

div div#menu{
    width: 300px;
    height: 179px;
    border: 1px solid black;

}
div div#centro{
    width: 700px;
    height: 500px;
    border: 1px solid black;
}


div div#contacto{
    width: 400px;
    height: 500px;
    border: 1px solid black;

}

app-centro{
    grid-area: center-content;
}