label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #da3752;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: 2px solid #d3354f;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: #eb3e5b;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF69B4;
  }
  

  .flores {
    background-image: url('https://4.bp.blogspot.com/-PGgp-pCcEDs/UBjEUdEBQCI/AAAAAAAAXns/fWHAvuKD6C0/s1600/wallpapers+flowers%2Cflores+zoomgraf.blogspot+(6).jpg');
    background-repeat: repeat;
    background-size: 200%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(10, 19, 10);
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 13, 13); /* Rojo en formato RGB */

  }
  .centrar-boton {
    display: flex;
    justify-content: center;
  }
  
  