<label for="txtcon" class="flores">Contacto</label>

<br/>
<label for="txtid">ID:</label>
<span id="txtid">{{contacto.uid}}</span>
<br/>
<label for="txtCedula">Cédula:</label>
<input id="txtCedula" [(ngModel)]="contacto.cedula"/>
<br/>
<label for="txtNombre">Nombre:</label>
<input id="txtNombre" [(ngModel)]="contacto.nombre"/>
<br/>
<label for="txtDireccion">Dirección:</label>
<input id="txtDireccion" [(ngModel)]="contacto.direccion"/>
<br/>

<br/>

<div class="centrar-boton">
    <button (click)="guardar()">Guardar</button>
  </div>




